apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Values.application }}
  namespace: {{ $.Values.namespace }}
spec:
  replicas: {{ $.Values.replicas }}
  selector:
    matchLabels:
      app: redisinsight
  template:
    metadata:
      labels:
        app: redisinsight
    spec:
      containers:
        - name: redisinsight
          image: {{ $.Values.image }}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 5540
              protocol: TCP
