apiVersion: v1
kind: PersistentVolume
metadata:
  name: harbor-pv
  namespace: toolbox
spec:
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath: # 볼륨 타입 지정 (예: hostPath)
    path: /mnt/harbor
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-pvc
  namespace: toolbox
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
